{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Red-It(official){% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
      body {
        background-color: black; color: white; font-family:sans-serif;
        }
    </style>
  </head>

  <body>

    <div class="container">
      ---------------------
      <h1><span style="color:red; font-family:impact; text-decoration:underline; background-color:black">RED-IT</span></h1>
      ---------------------

      |<a href="{% url 'subreddits_view' %}"> Sub-Red_Its </a>|

        {% if not request.user.is_authenticated %}
        <a href="{% url 'user_create_view' %}"> Create User </a>|
          <a href="{% url 'login' %}"> login </a>|
          {% else %}
          <a href="{% url 'logout' %}?next={% url 'login' %}"> logout </a>|
          {% endif %}


      <p><h3 style="text-align:; color:blue; float:right;">{{ request.user }}</h3></p>




    {% block content %}
    {% endblock %}

    </div>

  </body>
</html>
