{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>

      {% for subred in subreddits %}
      <p>

      {{ subred }}:<br>
      {{ subred.current_count }}
      {{ subred.today_count }}
      {{ subred.daily_average }}
      {% endfor %}

      <br>
      <br>

      {% for post in posts %}
      {{ post }}:<br>
      {{ post.is_recent }}
      {% endfor %}

    </p>


    <p>
        test
        {{ junkvar.current_count }}

    </p>


  </body>
</html>
