{% extends "base.html" %}

{% block title %}Sub-Red-Its{% endblock %}

{% block content %}
  <h2>Sub-Red-Its</h2><br>


  {% if not object_list %}
  <p>No subreddits exist yet.</p>
  {% endif %}

{% for subreddit in object_list %}
  <div class="panel panel-default">
     <div class="panel-body">
       <a href="{% url 'subreddit_detail_view' subreddit.id %}"><h3 style="color:red;">{{ subreddit }}</h3></a>
       <p style="color:red">{{ subreddit.description }}</p>
       <h6 style="color:blue">Posts: {{ subreddit.current_count }}</h6>
     </div>
  </div>
{% endfor %}


  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="{% url 'subreddit_create_view' %}">New Sub-Red-It</a></li>
  </ul>



{% endblock %}
