{% extends "base.html" %}

{% block title %}TESTING PAGE{% endblock %}

{% block content %}

    <h1 style="color:red; font-family:impact">TESTING PAGE</h1>

      {% for subred in subreddits %}
      <p>

      {{ subred }}:<br>
      {{ subred.description }}
      {{ subred.current_count }}
      {{ subred.today_count }}
      {{ subred.daily_average }}
      {% endfor %}

      <br>
      <br>

      {% for post in posts %}
      {{ post }}:<br>
      {{ post.is_recent }}
      <br>
      {{ post.is_hot }}
      {% endfor %}

<br><br>

    {% for comment in comments %}
    {{ comment }}
    {% endfor %}

    




    </p>


    <p>
        test
        {{ junkvar.name }}
        {{ junkvar.current_count }}

    </p>

    {% endblock %}
