{% extends 'base.html' %}

{% block title %}{{ subreddit.name }}{% endblock %}

{% block content %}
  <h1>{{ subreddit.name }}</h1>
  <h4>{{ subreddit.description }}</h4>


  {% for post in object.post_set.all|slice:":20" %}
    <div class="panel panel-default">
    <div class="panel-body">
      <a href="{% url 'post_detail_view' post.id %}"><h3 style="color:red;">{{ post }}</h3></a>
      <p style="color:red">{{ post.description }}</p>
   </div>
   </div>



  {% endfor %}


  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="{% url 'post_create_view' %}">New Post</a></li>
    <li role="presentation" class="active"><a href="{% url 'subreddit_update_view' object.id %}">Update this sub-red-It</a></li>
  </ul>



{% endblock %}
